*{
    margin: 0; 
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #750000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.foto_nav img {
    width: 60px; 
    height: auto;
    border-radius: 35px;
}

.texto_nav { 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul { list-style: none;}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover {color: #ffbaba;}


main {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para o texto */
p {
    color: #161616;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilos para o mural de fotos */
.mural-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as fotos */
}

/* Estilos para cada foto individual */
.foto {
    flex: 0 0 calc(33.33% - 20px); /* Definindo a largura de cada coluna (3 colunas por linha) */
    text-align: center;
}

.foto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.foto p {
    margin: 5px 0;
    color: #131313;
}

footer {
    height: 8vh;
    width: 100%;
    background-color:  #750000;
}